main {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.about {
	align-items: center;
	background: #fff;
	box-shadow: 5px 5px 5px #000;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 40em;
	justify-content: center;
	margin: 0px 100px;
}
.about-content {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-content: space-between;
	text-align: justify;
	margin: 0 4em;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){
	.about-content p {
		line-height: 50px;
	}
}
@media screen and (min-width: 945px) and (max-width: 1240px){
	.about-content p {
		line-height: 40px;
	}	
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.about-content p {
		line-height: 30px;
	}
}
@media only screen and (max-width: 760px) {
	.about {
		margin: 0px 100px;
	}
	.about-content p {
		line-height: 24px;
	}
}