.about-content {
	display: flex;
	flex-flow: column;
	/*border: 1px solid red;*/
	justify-content: space-between;
	align-content: space-between;
	text-align: justify;
	margin: 0 4em;
}

.about {
	height: 40em;

}