.about-content {
	display: flex;
	flex-flow: column;
	/*border: 1px solid red;*/
	justify-content: space-between;
	align-content: space-between;
	text-align: justify;
	margin: 0 4em;
}

.about {
	height: 40em;

}
@media screen and (min-width: 1240px){
	.about-content p {
		line-height: 50px;
	}
}

@media screen and (min-width: 945px) and (max-width: 1240px){
	.about-content p {
		line-height: 40px;
	}	
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.about-content p {
		line-height: 30px;
	}
}
@media only screen and (max-width: 760px) {
	.about-content p {
		line-height: 24px;
	}
}