.contact-form {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	/*align-items: center;*/
/*	border: 1px solid red;
*/	margin: 1em 0 3em 0;

}
input {
	height: 3em;
}
textarea {
	height: 15em;
}
#contact-form {
	margin: 1em 0;
}
.contact-bkgd {
	background: url("../images/portal.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 105% 100%;
}

.contact-bkgd p {
	color: white;
	text-shadow: 1px 2px 1px black;
}
.contact-title {
	color: white;
	text-shadow: 1px 2px 1px black;	
}

@media screen and (min-width: 1240px){
	.contact-form {
		width: 40em;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	.contact-form {
		width: 30em;
	}	
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	.contact-form {
		width: 25em;
	}
}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	.contact-form {
		width: 20em;
	}	

	#contact-form button {
		width: 50px;
		height: 25px;
	}
}