body {
	background: url("../images/rosechic.jpg");
    background-attachment: fixed;
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: 100% 120%;
	color: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-bottom: 40px;
}
button {
	background: #2255BB;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	height: 65px;
	margin: 10px;
	width: 150px;
}
html {
	height: 100%;
}
h2 {
	color: black;
	font-family: "Josefin Sans", sans-serif;
	font-size: 7em;
	font-weight: bolder;
}
p {
	font-size: 2em;
	color: #000;
	font-family: "Playfair Display", serif;
}

/*==========Media Queries==========*/

/*Laptops/Desktop*/
@media screen and (min-width: 1240px){
	h2 {
		font-size: 7em;
		text-align: center;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	h2 {
		font-size: 5em;
		text-align: center;
	}
	p {
		font-size: 2em;
	}
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	h2 {
		font-size: 5em;
		text-align: center;
	}
	p {
		font-size: 1.5em;
	}	
}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	h2 {
		font-size: 4em;
		text-align: center;
	}
	p {
		font-size: 1em;
	}
}

/*Font Families:*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/
