main {
	/*border: 1px solid green;*/
	flex: 1;
	display: flex;
	flex-direction: column;
}
.card {
	/*border: 1px solid grey;*/
	flex: 1;
/*	background: white;
*/	box-shadow: 5px 5px 5px black;
/*	color: black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40em;
}
/*@media screen and (min-width: 1240px){
	.contact-form {
		width: 40em;
	}
}

@media screen and (min-width: 945px) and (max-width: 1240px){
	.contact-form {
		width: 30em;
	}	
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.contact-form {
		width: 25em;
	}
}
@media only screen and (max-width: 760px) {
	.contact-form {
		width: 20em;
	}	

	#contact-form button {
		width: 50px;
		height: 25px;
	}
}*/