.module-connect {
	background: #E0E1DD;
}
.card-border-bottom {
	align-items: center;
	border: 10px solid #FFAEC7;
	border-top: none;
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: center;
	width: 85%;
	z-index: 1;
}
.connect-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px 0;
	width: 100%;
}

/*==========Media Queries==========*/
@media only screen and (max-width: 760px) {
	.card-border-bottom {
		border: none;
	}
}