/*.module-landing {
	background: #704C5E;
	background: url(../images/van.gif);
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-size: 100%
	border: 1px solid grey;
}*/
#para {
	margin: 0 2em;
	text-align: center;
	line-height: 50px;
}
.card-border-top {
	border-bottom: none;
	height: 75%;
	width: 85%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.landing-image {
	height: 200px;
	width: 200px;
}
@media screen and (min-width: 1240px){
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.card-border-top {
		border: 10px solid pink;
	}
}

@media screen and (min-width: 945px) and (max-width: 1240px){
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.card-border-top {
		border: 10px solid pink;
	}	
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.card-border-top {
		border: 10px solid pink;
	}
}
@media only screen and (max-width: 760px) {
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100% 100%;
	}
	.card-border-top {
		border: none;
	}
}