.card-border-top {
	align-items: center;
	border: 10px solid #FFAEC7;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: center;
	width: 85%;
	z-index: 1;
}
.module-landing {
	background: url(../images/van.gif);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: 100%
}
.landing-image {
	height: 200px;
	width: 200px;
}
#landing-p {
	line-height: 50px;
	margin: 0 2em;
	text-align: center;
}

/*==========Media Queries==========*/
@media only screen and (max-width: 760px) {
	.module-landing {
		background-size: 100% 100%;
	}
	.card-border-top {
		border: none;
	}
}