main {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.article-list {
	display: flex;
	flex-flow: row wrap;
	float: left;
	justify-content: space-around;
}
.portfolio {
	align-items: center;
	background: #fff;
	box-shadow: 5px 5px 5px #000;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0px 100px;
	text-align: center;
}
.project-list {
	width: 100%;
}

/*==========Media Queries==========*/
@media only screen and (max-width: 760px) {
	.portfolio {
		margin: 0px 0px;
	}
}