	/*Header Section*/
header {
	background: #ffffff;
	position: relative;
	width: 100%;
	height: 50px
	border-bottom: 1px solid #cccccc;
	padding: 0px 0px;
	margin: 0px 0px;
	border: 1px solid #cccccc;
	overflow: auto;
}
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #4aaaa5;
	color: white;
	border: 1px solid #cccccc;
	float:left;
	width: 200px;
	height: 50px;
	text-align: center;
	margin: 0px 0px 0px 100px;
	padding-top: 8px;
}
nav {
	float: right;
	font-size: 25px;
	background: #ffffff;
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 0px 50px 0px 0px;
	padding-top: 15px;
	word-spacing: 10px;
}
a { 
	color: gray; 
	text-decoration: none;
}

	/*Context Section*/
.context {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
	clear: both;
	background: lightgrey;
}
.box{
	width: 960px;
	overflow: auto;
	margin: 25px auto;
}
.body-content {
	background: #ffffff;
	border: 1px solid #dddddd;
	width: 650px;
	float: left;
	overflow: auto;
}
h2 {
	color: #4aaaa5;
	text-indent: 1em;
}
.connect {
	color: #4aaaa5;
	text-indent: 0em;
	text-align: center;
}
.portfolio-img {
	padding: 20px;
	margin: 0 auto;
	float: left;
}
aside {
	width: 270px;
	float: right;
	background: #ffffff;
	overflow: auto;
	border: 1px solid #dddddd;
}
#giticon, #linkedicon, #stackicon {
	margin: 0 15px;
	float: left;
	padding: 5px;
	position: relative;
	width: 50px;
	height: 50px;
}

	/*Footer Section*/
footer {
	background: #666666;
	width: 100%;
	height: 50px;
	border-top: 5px solid #4aaaa5;
	text-align: center;
	padding-top: 20px;
	color: #efefef;
}


	/*MISC */
hr {
	width: 95%;
}
img {
	width: 250px;
	height: 250px;
	margin: 10px 30px;
}
p {
	font-size: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: none;
	color:#777777;
	padding: 15px;
	line-height: 25px;
	word-spacing: 3px;
}

textarea {
	width: 300px;
	height: 150px;
}

.box-labels {
	padding: 10px 50px 25px;

}

.portfolio-links {
	padding: 5px;
	font-size: 30px;
	background: #4aaaa5;
	color: white;
	display: inline;
	width: 250px;
	height: 50px;
	text-align: center;
	position: absolute;
	left: ;
}

#hangman {
	position: absolute;
	left: 50px;
	top: 50px;
}
#rpg
#trivia
#rutgers
#rock