<<<<<<< HEAD
/*Footer*/
#footer {
	height: 50px;
	background: none;
}

.parallax-container {
    height: 70%;
=======
/*Footer*/
#footer {
	background: #613a43;
/*	#e9dccd
	#613a43
	#849974*/
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.parallax-container {
    height: 70%;
>>>>>>> 2ed716a9767afa7bce4de636ad515aa1c99cbf13
}