<<<<<<< HEAD
=======
main {
	background: #e9dccc;
}

>>>>>>> 2ed716a9767afa7bce4de636ad515aa1c99cbf13
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
